<div>
    <h2>Dodaj Speakera</h2>
    <form [formGroup]="speakerForm" (ngSubmit)="addSpeaker()">
      
      <label for="name">Imię speakera:</label>
      <input type="text" id="name" formControlName="name" />
      <div *ngIf="speakerForm!.get('name')!.hasError('required')">
        Imię jest wymagane
      </div>
      <br>
      <div *ngIf="speakerForm!.get('name')!.hasError('minlength')">
        Imię musi mieć minimum 3 znaków
      </div>

      <label for="lastName">Nazwisko speakera:</label>
      <input type="text" id="lastName" formControlName="lastName" />
      <div *ngIf="speakerForm!.get('lastName')!.hasError('required')">
        Nazwisko jest wymagane
      </div>
      <br>
      <div *ngIf="speakerForm!.get('lastName')!.hasError('minlength')">
        Nazwisko musi mieć minimum 3 znaków
      </div>
      <br>

      <label for="dob">DOB speakera:</label>
      <input type="date" id="dob" formControlName="dob" />
      <div *ngIf="speakerForm!.get('dob')!.hasError('required')">
        Speaker wymaga daty urodzenia
      </div>
      <div *ngIf="speakerForm!.get('dob')!.hasError('pastDate')">
        Speaker musi mieć min 18 lat !
      </div>
      <br>

      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="speakerForm!.get('email')!.hasError('required')">
        Email jest polem wymaganym
      </div>
      <div *ngIf="speakerForm!.get('email')!.hasError('email')">
        Email nie jest poprawnie zapisany
      </div>

      <button type="submit" [disabled]="!speakerForm.valid">Dodaj speakera</button>
    </form>
  </div>