<div class="list" (document:click)="onClick($event)" >
    <h2>Lista Konferencji</h2>
    <ul>
      <li *ngFor="let conference of sortedConferences; index as i" (click)="select(i)" [class.selected]="i === selected">
        {{ conference.getName() }}
      </li>
    </ul>
    <br>
    <label>Sortuj wg nazwy:</label>
      <select [(ngModel)]="sortOrder">
        <option value="asc">Rosnąco</option>
        <option value="dsc">Malejąco</option>
    </select>
</div>
<app-conference-details [conferences]="conferences" [selected]="selected" ></app-conference-details>